.idea/
.ipynb_checkpoints/
__pycache__/


*.pdf
convergence_*
vanila_*
w_*
*.npy

frames/*
!frames/PLACEHOLDER

labels/*
!labels/PLACEHOLDER

new_labels/*
!new_labels/PLACEHOLDER

weights/*
!weights/PLACEHOLDER
